# Dependências
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
venv/
env/

# Uploads
uploads/
*.log

# Environment
.env
.env.local
.env.production

# Build
build/
dist/

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db